.footer {
    text-align: center;
    color: var(--alternate-color);
    background-color: var(--second-modal-color);

    @include mq(m) {
        display: none;
    }

    @include mq(l) {
        font-size: 2vw;
        display: initial;
    }
}